{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    {% block header_references %}{% endblock  %}
    <title>{% block title %}{% endblock  %}</title>

</head>
<body>
    {% render_partial 'home_module.views.header_partial'  %}
    {% block content %}{% endblock  %}
     {% render_partial 'home_module.views.footer_partial'  %}


     {% block footer_references %}{% endblock  %}
</body>
</html>