{% extends "shared/base.html" %}

{% block title %}خانه| صفحه اصلی{% endblock  %}

{% block content %}
<h2>فیلم‌های در حال اکران</h2>
{% for movie in object_list %}
<main>
    <section class="movies">
      
      <div class="movie-card">
        {% if movie.image.url %}
        <img src="{{movie.image.url}}" width="200px" alt="پوستر فیلم">
        {% endif %}
        <h3> فیلم {{movie.title}}</h3>
        <p><strong> داستان فیلم : </strong>{{movie.short_description}}</p>
        <p><strong><a href="{% url 'detail_page' movie.slug %}">جزییات</a></strong></p>
        <a href="">رزرو بلیط</a>
      </div>
      
    </section>
  </main>

{% endfor %}


  


  {% endblock  %}