body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
   
    
}



header {
  background-color: #222;
  color: white;
  padding: 2rem;
  text-align: center;
  
   background: rgb(118, 189, 210);
   background: linear-gradient(90deg, rgba(118, 189, 210, 1) 10%, rgba(26, 120, 236, 1) 100%, rgba(15, 15, 201, 1) 100%);
}
footer{
    background-color: #222;
  color: white;
  padding: 1rem;
  text-align: right;
  
   background: rgb(118, 189, 210);
   background: linear-gradient(90deg, rgba(118, 189, 210, 1) 10%, rgba(26, 120, 236, 1) 100%, rgba(15, 15, 201, 1) 100%);
   margin-top:155px;
   
}

nav a {
  margin: 0 1rem;
  color: #ffcc00;
  text-decoration: none;
}

.movies {
  padding: 2rem;
}

.movie-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

button {
  background-color: #ffcc00;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}