{% extends "shared/base.html" %}
{% load static %}

{% block title %}ثبت نام{% endblock  %}

{% block header_ref %}
<link rel="stylesheet" href="{% static 'account_module/user.css' %}">
{% endblock  %}

{% block content %}

 <div class="first">

        <form action="" method="post">
            {% csrf_token %}
           
            

            {% for form in register_form %}
             {{form.label_tag}}
            {{form}}
            {{form.errors}}
            {% endfor %}
            

      
            <button type="submit" class="register"> ثبت نام</button>
            <p class="Log">ورود به حساب <a class="even  link" href="{% url 'login_page' %}">کاربری</a></p>

        </form>
    </div>

{% endblock  %}